.forgotPassword {
  min-height: 100vh;
  background: linear-gradient(to right, #d8d7d5, #92cbe6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vmax;
  box-sizing: border-box;
}

.forgotPasswordForm {
  background-color: white;
  width: 42%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forgotPasswordForm .logo{
  color: rgb(15, 7, 36);
  font-size: 50px;
}

.forgotPasswordInputs {
  box-sizing: border-box;
  padding: 1vmax 2vmax;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 2vmax;
  font: 100 1.2rem "Roboto", sans-serif;
  outline: none;
}
.forgetPswd{
  background-color: rgb(23, 104, 211);
  color: #fff;
  padding: 0.5vmax 1vmax;
  border-radius: 0.5vmax;
  border: none;
  outline: none;
  width: 80%;
  transition: all 0.3s;
  cursor: pointer;
}
.forgetPswd:hover{
  background-color: rgb(17, 68, 210);
}

@media screen and (max-width: 600px) {
  .forgotPasswordForm {
    width: 100%;
  }

  .forgotPasswordInputs {
    padding: 4vw 8vw;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    margin: 4vw;
  }
}
