.commentUser {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 5px 2px 5px;
  margin-left: 10px;
  background-color: rgb(223, 231, 229);
  border-radius: 0.3rem;
  color: rgba(0, 0, 0, 0.806);
  margin-bottom: 0.5rem;
}
.commentUser p{
  padding: 5px;
  
  /* text-align: center; */
  color: #000;
}

.commentUser > a {
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  align-items: center;
  align-self: flex-start;
  transition: all 0.5s;
}
.commentUser img {
  height: 3vmax;
  width: 3vmax;
  margin: 1vmax;
  border-radius: 100%;
  border: 2px solid rgb(0, 0, 0);
}

.commentUser > a:hover {
 color: rgb(34, 124, 197);
}

.commentUser > button {
  color: rgb(50, 127, 227);
}
.commentUser > button:hover {
  color:red;
}
