.updatePassword {
  min-height: 100vh;
  background-image: linear-gradient(to right, #7f67ad, #795ac8);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vmax;
  box-sizing: border-box;
}

.updatePasswordForm {
  background-color: white;
  width: 50%;
  border-radius: 0.6vmax;
  box-sizing: border-box;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updatePasswordInputs {
  box-sizing: border-box;
  padding: 1vmax 2vmax;
  width: 80%;
  border-radius: 40px;
  border: 1px solid #ccc;
  margin: 2vmax;
  font: 100 1.2rem "Roboto", sans-serif;
  outline: none;
}
.changePassBtn{
  background-color: rgb(24, 101, 202);
  padding: 1vmax 1.4vmax;
  color: #fff;
  border-radius: 0.5vmax;
  border: none;
  outline: none;
}




@media screen and (max-width: 600px) {
  .updatePasswordForm {
    width: 100%;
  }

  .updatePasswordInputs {
    padding: 4vw 8vw;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    margin: 4vw;
  }
}
